<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body>
<nav th:replace="~{layout :: nav}"></nav>
<section class="pure-u-24-24">
    <div style="padding: 1rem;">
        <h2>Event Store (<span th:text="${eventsCount}"></span> events)</h2>
        <table class="pure-table" style="width: 100%;">
            <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Date</th>
                <th>Aggregate name</th>
                <th>Aggregate ID</th>
                <th>Data</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="event: ${events}">
                <td th:text="${event.formattedId}" th:title="${event.id}" />
                <td th:text="${event.type}" />
                <td th:text="${event.formattedDate}" />
                <td th:text="${event.aggregateName}" />
                <td th:text="${event.formattedAggregateId}" th:title="${event.aggregateId}" />
                <td><textarea th:text="${event.data}" rows="3" cols="80" readonly="readonly" disabled="disabled" /></td>
            </tr>
            </tbody>
        </table>
        <div class="pure-g" style="margin-top: 1rem;">
            <div class="pure-u-10-24">
                <a class="pure-button" th:href="@{'../event-store?page=' + ${previousPage}}" th:if="${previousPage != null}">Previous page</a>
            </div>
            <div class="pure-u-4-24" th:text="@{'Page ' + ${currentPage} + ' of ' + ${totalPages}}" style="text-align: center;"></div>
            <div class="pure-u-10-24" style="text-align: right;">
                <a class="pure-button" th:href="@{'../event-store?page=' + ${nextPage}}" th:if="${nextPage != null}">Next page</a>
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>