<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>Voidium Market Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <meta charset="UTF-8" />
</head>
</head>
<body>
<header th:fragment="header" class="pure-u-24-24">
    <h1 style="margin: 1rem;">Voidium Market Dashboard</h1>
</header>
<footer th:fragment="footer" style="margin: 0 1rem 0 1rem; border-top: 1px solid #ccc; padding: 1rem 0 1rem 0; color: #444; text-align: center;">
    See source code at <a href="https://github.com/santosleijon/voidium-market">github.com/santosleijon/voidium-market</a>
</footer>
</body>
</html>