<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>Voidium Market Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <meta charset="UTF-8" />
</head>
<body>
<nav th:fragment="nav">
    <div class="pure-menu pure-menu-horizontal" style="font-size: 1.3rem; background: #ddd; position: fixed; top: 0; left: 0; z-index: 9999;">
        <strong class="pure-menu-heading">Voidium Market</strong>
        <ul class="pure-menu-list">
            <li class="pure-menu-item">
                <a href="./" class="pure-menu-link">Price Chart</a>
            </li>
            <li class="pure-menu-item">
                <a href="./admin" class="pure-menu-link">Admin</a>
            </li>
            <li class="pure-menu-item">
                <a href="./event-store" class="pure-menu-link">Event Store</a>
            </li>
        </ul>
    </div>
    <div style="height: 2rem;"></div>
</nav>
<footer th:fragment="footer" style="margin: 0 1rem 0 1rem; border-top: 1px solid #ccc; padding: 1rem 0 1rem 0; color: #444; text-align: center;">
    See source code at <a href="https://github.com/santosleijon/voidium-market">github.com/santosleijon/voidium-market</a>
</footer>
</body>
</html>