<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body>
<nav th:replace="~{layout :: nav}"></nav>
<section class="pure-u-24-24">
    <div style="padding: 1rem;">
        <h2>Price Graph</h2>
        <table class="pure-table" id="price-table" style="width: 100%;">
            <thead>
            <tr>
                <th>Time</th>
                <th>Open price</th>
                <th>Close price</th>
                <th>High price</th>
                <th>Low price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="priceDetail: ${priceDetails}">
                <td th:text="${priceDetail.formattedTime}" />
                <td th:text="${priceDetail.openPrice}" />
                <td th:text="${priceDetail.closePrice}" />
                <td th:text="${priceDetail.highPrice}" />
                <td th:text="${priceDetail.lowPrice}" />
            </tr>
            </tbody>
        </table>
    </div>
</section>
<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>